@use "../abstracts" as *;
.back-to-top {
  position: fixed;
  bottom: 2dvh;
  z-index: 10;
  display: grid;
  place-content: center;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.back-to-top button {
  pointer-events: all;
  background-color: $accent-secondary;
  color: $text;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  @include transition300;
}

.back-to-top button:hover {
  background-color: $text;
  color: $accent-secondary;
}
