@use "../abstracts" as *;

.content {
  letter-spacing: 0.08em;
  .category {
    &#pizza,
    &#pasta,
    &#bruschettas {
      padding-block-start: 14em;
      width: min(100em, 100%);
      margin-inline: auto;
      overflow: hidden;
      &:is(:last-child) {
        padding-block-end: 10em;
      }
    }
    .wrapper {
      padding-inline: 1em;
      & > header {
        .title {
          width: min(56em, 100%);
          h2 {
            font-size: 3.2em;
            font-weight: bold;
            text-wrap: balance;
            color: $accent-primary;
            margin-bottom: 1em;
          }
          p {
            text-wrap: pretty;
            font-size: clamp(1.25rem, calc(1.21rem + 0.69vw), 1.5rem);
          }
          position: relative;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            top: -2.5em;
            right: -1.5em;
            background-color: $accent-primary;
            transition: width 300ms ease 300ms, height 300ms ease;
          }
          &:hover {
            &:after {
              transition: width 300ms ease, height 300ms ease 300ms;
              width: 1px;
              height: 90%;
            }
          }
        }
        margin-block-end: 4em;
      }
      header:has(.image) {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 1em;
        .image {
          width: min(30em, 100%);
          margin-inline: auto 0;
          border-radius: 3em;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
          }
          @media (width <= 1244px) {
            width: 100%;
            height: 10em;
          }
        }
      }
      .content {
        header {
          display: flex;
          justify-content: space-between;
          position: relative;
          .title,
          .item__price {
            font-weight: bold;
          }
          .allergens {
            display: none;
            font-weight: normal;
            cursor: default;
            @include transition300;
            & > i {
              display: inline;
              font-style: normal !important;
            }
            &:hover {
              .allergen__name {
                display: inline;
              }
            }
          }
        }
      }
      .content:not(.col__pasta) {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        article.item {
          padding: 1em;
          border-bottom: 0.2em solid $accent-secondary;
          width: min(23.5em, 100%);
          margin-inline: auto;
          border-radius: 0.3em;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          @include transition300;
          &:hover {
            & .allergens {
              display: inline-flex;
              margin-inline: 0 auto;
            }
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
            translate: 0 -4px;
            color: $text;
            background-color: $accent-secondary;
          }
          .ingredients {
            margin-top: 1em;
            text-wrap: balance;

            .ingredient__name {
              display: inline;
            }
          }
        }
      }
    }
    .col__pasta {
      max-width: 150em;
      margin-inline: auto;
      margin-block: 2em 4em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;

      & > article {
        width: max-content;
        margin-inline: auto;
        display: grid;
        place-content: center;
      }
    }
  }
}
i {
  font-style: normal !important;
}
