/*SIZES*/
$--size-0: 0rem;
$--size-1: 0.25rem;
$--size-2: 0.5rem;
$--size-3: 0.5rem;
$--size-4: 1rem;
$--size-5: 1.5rem;
$--size-6: 2.25rem;
$--size-7: 4.5rem;
$--size-8: 5.25rem;
$--size-9: 9rem;
$--size-10: 10rem;
$--size-11: 11rem;
$--size-12: 12rem;
$--size-13: 13rem;

/*ANIMATIONS*/

/*BORDERS*/
